input.weather-search {
    height: 2.5rem;
    padding: 0.5rem;
}

button.search-button {
    color: white;
    height: 2.5rem;
    width: 220px;
    padding: 0 0.75rem;
    margin-top: 10px;
    background-color: rgb(79, 145, 243);
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
}

.list-item {
    color: white;
}

 .current{ 
    box-shadow: 0 0 10px black;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    height: auto;
    

}

.current:hover {
    transform: scale(1.1);
}
h2, #form-heading {
    font-weight: bolder;
    color: white;
}

.card {
    background-color: rgb(21, 56, 94);
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
    color: white;
    top: 20px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    width: max-content;
    margin-right: 10px;
  

}
body {
    background-image: url("../images/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(21, 56, 94);
}

#forecast-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.weather-header {
    background-color: rgb(47, 77, 122) !important;
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
}

button {
    height: 2.5rem;
        width: 220px;
        padding: 0 0.75rem;
        background-color: gray;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(21, 56, 94);
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
}

hr {
    display: block;
    width: 220px;
    background-color: rgb(47, 77, 122);
   
}

.hide {
    display: none;
}

@media screen and (max-width: 500px) {
    #forecast-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card {
        width: 250px;
        height: 350px;
    }
    .current {
        color: white;
        padding: 10px;
        background-color: rgb(21, 22, 90);
    }
    
}