input.weather-search {
    height: 2.5rem;
    padding: 0.5rem;
}

button.search-button {
    height: 2.5rem;
    width: 220px;
    padding: 0 0.75rem;
    margin-top: 10px;
    background-color: rgb(79, 145, 243);
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
}

 .current{
    border: 2px solid black;
}

h2, #form-heading {
    font-weight: bolder;
}

.card {
    background-color: rgb(21, 56, 94);
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
    color: white;
    top: 20px;
    margin: 5px;
    padding: 10px;
    text-align: left;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(21, 56, 94);
}

#forecast-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.weather-header {
    background-color: rgb(47, 77, 122) !important;
    background-image: linear-gradient(to top right, rgb(26, 26, 27), rgb(15, 143, 228));
}

button {
    height: 2.5rem;
        width: 220px;
        padding: 0 0.75rem;
        background-color: gray;
}

hr {
    display: block;
    width: 220px;
    background-color: rgb(47, 77, 122);
   
}

.hide {
    display: none;
}